*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
@font-face {
    font-family: Monserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}
main{
    font-family: Monserrat;
}

/* Seccion Index */

.carousel-item img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 600px;
}
.destacados h2{
    text-align: center;
}
.destacados img{
    width: 400px;
    height: 400px;
}

/* Seccion Nosotros */
.containerNosotros{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9,auto);
    grid-template-areas:
    "titulo titulo"
    "textoNosotros fotoNosotros"
    "texto2Nosotros texto2Nosotros"
    "textoImpacto textoImpacto"
    "foto1 descripcion1"
    "descripcion2 foto2"
    "foto3 descripcion3"
    "descripcion4 foto4"
    "foto5 descripcion5"
    ;
    font-size: 1.2rem;
}
.portadaNosotros{
    background-image: url(../media/fotos/portadacontacto.avif);
    height: 550px;
    background-size: 100% ;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo{
    grid-area: titulo;
    text-align: center;
    padding-top: 50px;
}
.containerNosotros img{
    width: 500px;
    height: 500px;
    border-radius: 30px;
}
.textoNosotros{
    grid-area: textoNosotros;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}
.fotoNosotros{
    grid-area: fotoNosotros;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.texto2Nosotros{
    grid-area: texto2Nosotros ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}
.portadaNosotros h2{
    color: white;
}
.textoImpacto{
    grid-area: textoImpacto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
}
.textoImpacto h2{
    margin-bottom: 20px;
}
.descripcion1{
    grid-area: descripcion1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
}
.foto1{
    display: flex;
    grid-area: foto1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
.descripcion2{
    grid-area: descripcion2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}
.foto2{
    grid-area: foto2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
.descripcion3{
    grid-area: descripcion3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
}
.foto3{
    grid-area: foto3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
.descripcion4{
    grid-area: descripcion4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
}
.foto4{
    grid-area: foto4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
.descripcion5{
    grid-area: descripcion5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
}
.foto5{
    grid-area: foto5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

/* Seccion Mayorista */

.portadaMayorista{
    background-image: url(../media/fotos/portadacontacto.avif);
    height: 550px;
    background-size: 100% ;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.portadaMayorista h2{
    color:white;
}
.textoMayorista{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    padding: 150px 0px;
}
.span{
    color: red;
    font-size: 1.7rem;
    left: 20px;
}
.mediosPago{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

/* Seccion Contacto */
.portadaContacto{
    background-image: url(../media/fotos/portadacontacto.avif);
    height: 550px;
    background-size: 100% ;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.portadaContacto h2{
    color: white;
    font-size: 3rem;
}
.textoContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}
.textoContacto h3{
    margin-bottom: 50px;
}
.map{
    width: 100%;
    height: 500px;
    margin-top:20px;
    margin-bottom: 50px;
}
.containerContacto img{
    width: 35px;
    height: 35px;
}
.ubicacion{
    display: flex;
}
.ubicacion p{
    padding-left: 5px;
    font-size: 1.5rem;
}
.horarios{
    margin: 30px 0px;
    display: flex;
}
.horarios p{
    padding-left: 5px;
    font-size: 1.5rem;
}
.ig{
    margin: 30px 0px;
    display: flex;
}
.ig p{
    padding-left: 5px;
    font-size: 1.5rem;
}


/* Header */
.navbar {
    background-color: rgba(149, 68, 34, 1);
}
.bg-light{
    --bs-bg-opacity: 0;
}
.logo{
    width: auto;
    height: 50px;
    
}
.nav-link{
    color: white;
}


/* Footer */
.footer{
    background-color: rgba(149, 68, 34, 1);
}
.footer ul li{
    display: flex;
    flex-direction: row;
    list-style: none;
    color: white;
    margin: 10px 0px;
    
}
.footer ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.footer ul li a{
    list-style: none;
    color: white;
    margin: 10px 0px;
    text-decoration: none;
}
.footer ul li a:hover{
    color: rgb(0, 0, 0);
}
.footer ul li img{
    width: 20px;
    height: 20px;
}
.derechos{
    text-align: center;
    color: white;
    border-top: 1px solid white;
    padding: 20px;

}
.redes img{
    width: 25px;
    height: 25px;
}
.redes{
    display: flex;
    flex-direction: column;
}
.redes a{
    text-decoration: none;
    color:white;
    margin-bottom: 20px;
}
.flex{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
    padding-top: 20px;
}














@media only screen and (max-width: 760px) {
    .nav-item{
        border-bottom: 1px solid white;
        height: 95px;
        display: flex;
        justify-content: start;
        align-items: center;
        }
}